.footer-container {
  margin-top: 3.0rem;
}

.footer {
    text-align: center;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
 }

@media (prefers-reduced-motion: no-preference) {
    .react-logo, .redux-logo {
      animation: App-logo-spin infinite 10s linear;
    }
}
  
@keyframes react-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}